
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        Usuario
        <input type="text" name="pass" />
        Password
        <input type="password" name="pass" />
        <input type="button" name="btn btn-success" value="Entrar" />

    </div>
</div>

